<footer class="post-footer">
    <div class="post-share">
        <h3>Share this post</h3>
        <div class="share-buttons">
            <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}" 
               target="_blank" 
               class="share-button twitter">
                {% include icon.html name="twitter" label="Share on X" %}
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | url_encode }}" 
               target="_blank" 
               class="share-button linkedin">
                {% include icon.html name="linkedin" label="Share on LinkedIn" %}
            </a>
        </div>
    </div>
</footer>